form {
  width: 60rem;
}

.settings__name {
  display: flex;
  justify-content: center;
  width: 100rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.settings_section {
  display: flex;
}

.settigs__sidebar {
  margin-right: 10rem;
  margin-left: 15rem;
}

.settigs__main-bar {
  margin-left: 10rem;
}

.settigs__sidebar ul {
  list-style: none;
  width: 8rem;
}

.settigs__sidebar a {
  text-decoration: none;
  color: black;
}
/* Menu com animação
.settigs__sidebar a:hover{
  font-size: 35px;
  padding-left: 30px;
  border-left: 4px solid #0072ed;
  color: b#117cef;
  transition: .5s;
}*/

/* Menu lateral*/
  
.settigs__sidebar li {
  margin-bottom: 2rem;
}

.main-bar__name {
  margin-bottom: 2rem;
}

.main-bar__form {
  margin-bottom: 1rem;
}

.main-bar__form label,
.main-bar__form p {
  display: inline-block;
  width: 250px;
  font-size: 1.2rem;
  margin-right: 5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.apoio-text{
  font-size: 3px;
  color: red;
  display: none;
}

.main-bar__form-checkbox {
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 5rem;
  margin-bottom: 3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-bar__form-checkbox label {
  width: 65px;
}

.main-bar__form-checkbox p {
  display: inline-block;
}
/* input */
.main-bar__form input,
select {
  width: 25rem;
  height: 2rem;
  border: solid 2px rgb(23, 22, 22);
  border-radius: 7px;
  
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
  width: 46px;
  height: 24px;
}

/* Hide the browser's default radio */
.switch input[type="checkbox"] {
  position: absolute;
  opacity: 0;

}

/* Create a custom switch */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  border: 1px solid #121212;
  transition: 0.2s;
}

/* Create the indicator/dot */
.switch .slider::before {
  position: absolute;
  top: 2px;
  left: 4px;
  content: "";
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #bababa;
  transition: 0.2s;
}

/* When the switch is checked, add a blue background */
.switch input[type="checkbox"]:checked + .slider {
  background-color: #007bff;
}

/* When the switch is checked, change position of the indicator/dot */
.switch input[type="checkbox"]:checked + .slider::before {
  background-color: #fff;
  -webkit-transform: translateX(38px);
  -ms-transform: translateX(38px);
  transform: translateX(38px);
}

/* When the switch gets focus, add a shadow */
.switch input[type="checkbox"]:focus + .slider {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border-color: #80bdff;
 

}

.main-bar__button{
  display: flex;
  justify-content: center;
}

.main-bar__button button {
  background-color: green;
  color: white;
  width: 6rem;
  padding: .7rem;
  border-radius: .3rem;
  cursor: pointer;
}
/*istilização dinamica*/

.inputForm_erro {
  width: 25rem;
  height: 2rem;
  border: solid 5px rgb(148, 9, 9);
  border-radius: 7px;
  background-color: #ffcccc;
  color: #060505;
}

.inputForm_correcto {
  width: 25rem;
  height: 2rem;
  border: solid 2px rgb(103, 141, 100);
  border-radius: 7px;
  background-color: #c8f8c8;
  color: #020202;
  }

