.opcoes{
    background-color: #D7FFED;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-25%, -50%);
    padding: 6.18rem;
    border-radius: 1.618rem;
    color: #0072ED;
    display: flex;
    flex-direction: column;
}
input {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    width: 20rem;
    height: 2rem;
    border-radius: 1.618rem;
    display: flex;
}
button{
    outline: none;
    width: 100%;
    border-radius: 1.618rem;
    background: #D7FFED;
    transition: 0.1s ease-in-out;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 15px;
    font-size: 15px;
    color: black;    
}
button:hover{
    background: #0072ED;
    transform: translateY(-2px);
    cursor: pointer;
}

.apoio-text{
    display: none;
    font-size: .9rem;
    color: #ff0000;
}

input.error {
  border: solid 2px #992020;
}

.visible {
    display: block;
  }